<h1>Hello from Destinations</h1>
<div class="row">
    <div class="col-sm-8">
        <p>Add New Destination</p>
        <%= title %>
            <ul>
                <% tour.forEach((item)=> { %>
                    <li>
                        <%= item.destination %>
                    </li>
                    <% }) %>
            </ul>

    </div>
    <div class="col-sm-4">
        <a href="/tours/add" class="btn btn-success float-right">Add New Tour</a>
    </div>
</div>