<header>
    <a href="#" class="logo">Travel</a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="#package">Package</a></li>
        <li><a href="#destination">Destination</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="/add" , class="btn btn-info">Add new Tour</a></li>
        <% if (!user) {%>
            <li><a href="/register" , class="btn btn-info mx-3">Register</a></li>
            <li><a href="/login" , class="btn btn-info mx-3">Login</a></li>
            <% } %>
                <% if (user) {%>
                    <li><a href="/logout" , class="btn btn-info mx-3">Logout</a></li>
                    <% } %>


    </ul>
</header>