<form action="/areas/addArea" , method="post">
    <div class="form-group">
        <label for="name">Area Name</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Area">
    </div>
    <div class="form-group">
        <label for="locality">Locality</label>
        <input type="text" class="form-control" name="locality" placeholder="Enter Locality">
    </div>
    <div class="form-group">
        <label for="attractions">Attractions</label>
        <input type="text" class="form-control" name="attractions" placeholder="Enter Attractions">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>